*{
    margin: 0;
    padding: 0;
}
input {
    position: relative;
    height: 50px;
    width: 97%;
    margin-left: 20px;
    border-radius: 5px;
}
label {
    margin-left: 20px;
    display: block;
}
.eye {
    position: absolute;
    margin-left: -40px;
    margin-top: 10px;
    font-size: 30px;
}
.input {
    position: relative;
    height: 50px;
    width: 97%;
    margin-left: 20px;
    border-radius: 5px;
}
.eye1 {
    position: absolute;
    margin-left: -40px;
    font-size: 30px;
    margin-top: 10px;
}
